@page "/pagenotfound" 

<div class="row">
    <div class="col-12 text-center">
        <h3>Ooops! the page you're looking for doesn't exist.</h3>
        <img src="images/monkey.jpg" />
    </div>
</div>



@code {

}
